p{
    background: cornflowerblue;
    margin-bottom: 1px
    
}

li {background:crimson;
    margin-bottom: 5px;

}

h4{

    background:rgb(197, 108, 108);  
}

.xxx  {
    color: rgb(0, 255, 55);
}
      .yyy {
          font-size: 99px;

      }

      h4 {

         color:rgb(0, 0, 0) ;
      }
      .h{
        font-size: 17px;
      }
      .gggf{
        background-color: aqua;
      }
      body{
        background-color:seagreen ;
      }
      .dd {
        width: 49%;
      }              
      .ss {
        width: 49%;
        font-size

      }
      
    
    p {
        width:300px;
        overflow: hidden;
    }
    samp{
        color:red
        font-size 99px;
        
    }
     .xxx {
        margin-top: 10px;
        padding: 50px;
        box-sizing: border-box;
        border: 19px solid red
     }

     h2{
        text-align: center;
    }
    h4{
        text-align: center; 
    } 
    li {
        text-align: center;
    }
